<h1><strong>Workaholic</strong></h1>
<div class="">

  <p>This app will help you manage all of your jobs so that you can make the most of them.</p>
  <p><ul>
    <li>Track earnings</li>
    <li>Set goals</li>
    <li>Keep a schedule</li>
  </ul></p>
  <h2>Begin by creating an account</h2>
  <button type="button" name="button">Create Account</button>
</div>
